[submodule "android/lite-xl-simplified"]
	path = android/lite-xl-simplified
	url = git@github.com:adamharrison/lite-xl-simplified.git
[submodule "lite-xl-plugins"]
	path = lite-xl-plugins
	url = git@github.com:lite-xl/lite-xl-plugins.git
