[submodule "android/lite-xl-simplified"]
	path = android/lite-xl-simplified
	url = git@github.com:adamharrison/lite-xl-simplified.git
[submodule "lite-xl-plugins"]
	path = lite-xl-plugins
	url = git@github.com:lite-xl/lite-xl-plugins.git
	branch = 2.1
[submodule "android/openssl"]
	path = android/openssl
	url = git@github.com:openssl/openssl.git
	branch = OpenSSL_1_1_1-stable
[submodule "android/libgit2"]
	path = android/libgit2
	branch = main
	url = git@github.com:libgit2/libgit2.git
